{% load static %}
<div class="container-fluid g-0">
    {% load crispy_forms_tags %}
    <div class="row menu mx-auto ">
        <a class="p0" href="/"><img style="margin: 0 0 0 auto" class="col-sm-12 col-md-5 col-lg-6"
                                    src="{% static 'logo.png' %}"></a>
        <div class="find-block col-sm-12 col-md-5 col-lg-4">
            <span>лучший народный портал с новинками</span>
            <input class="search" style="margin: 0" type="text" placeholder="Введите название игры">
            <button class="find" id="find">НАЙТИ</button>
        </div>
    </div>
    <div class="user-enter">
        {% if user.is_authenticated %}
            <div class="enter-buttons">
                <a href="/profile/"><div class="userName">{{ user.username }}</div></a>
                <a href="/logout/">
                    <button class="enter" id="enter"><i class="bi bi-person-circle"></i> Выйти
                    </button>
                </a>
                <a href="/profile/">
                    <button class="myProfile enter" id="myProfile"><i class="bi bi-person-bounding-box"></i> Мой профиль
                    </button>
                </a>
                <a href="/card/">
                    <button class="card enter" id="card"><i class="bi bi-basket"></i> Корзина
                    </button>
                </a>
            </div>
        {% else %}
            <div class="enter-buttons">
                <a href="/login/">
                    <button class="enter" id="enter"><i class="bi bi-person-circle"></i> Войти
                    </button>
                </a>
                <a href="/register/">
                    <button class="register" id="register"><i class="bi bi-person-plus-fill"></i> Регистрация
                    </button>
                </a>
            </div>
        {% endif %}

    </div>
</div>



