{% load static %}
<div class="container-fluid g-0">
    {% load crispy_forms_tags %}
    <div class="row menu mx-auto ">
        <a class="p0" href="/"><img style="margin: 0 0 0 auto" class="col-sm-12 col-md-5 col-lg-6"
                                    src="{% static 'logo.png' %}"></a>
        <div class="find-block container-fluid m0 col-sm-12 col-md-5 col-lg-4">
            <form action="{% url 'home_page' %}">
                <input id="searchMe" class="search" style="margin: 0" type="text" name="q" placeholder="Введите название игры">
                <button type="submit" class="find" id="find" onclick="searchThis()">НАЙТИ</button>

            </form>
                            <span class="sp">лучший портал с игровыми новинками</span>
        </div>
    </div>
    <div class="user-enter">
        {% if user.is_authenticated %}
            <div class="enter-buttons">
                <a class="adm" href="/profile/">
                    <div class="userName">{{ user.username }}</div>
                </a>
                <a href="/logout/">
                    <button class="enter" id="enter"><i class="bi bi-person-circle"></i> Выйти
                    </button>
                </a>
                <a href="/profile/">
                    <button class="myProfile enter" id="myProfile"><i class="bi bi-person-bounding-box"></i> Мой профиль
                    </button>
                </a>
                <a href="/profile/">
                    <button class="card enter" id="card"><i class="bi bi-basket"></i> Корзина
                    </button>
                </a>
            </div>
        {% else %}
            <div class="enter-buttons">
                <a href="/login/">
                    <button class="enter" id="enter"><i class="bi bi-person-circle"></i> Войти
                    </button>
                </a>
                <a href="/register/">
                    <button class="register" id="register"><i class="bi bi-person-plus-fill"></i> Регистрация
                    </button>
                </a>
            </div>
        {% endif %}

    </div>
</div>



