{% load slider_tags %}
<div class="RightPanel col-sm-12 col-md-4 col-lg-3 p0 taC">

    <div class="categories">
        <h5 class="categoriesTitle">Категории</h5>
    <div class="dopFiltr">
        <a href="{% url 'home_page' %}">
            <div class="categoryName">ВСЕ ИГРЫ</div>
        </a>
        <a href="{% url 'filtered' 1 %} ">
            <div class="categoryName">ИГРЫ НА СЛАБЫЙ ПК</div>
        </a>
        <a href="{% url 'filtered' 2 %} ">
            <div class="categoryName">ИГРЫ 2022 ГОДА</div>
        </a>
        <a href="{% url 'filtered' 3 %} ">
            <div class="categoryName">БОЛЬШИЕ СКИДКИ</div>
        </a>
</div>
        {% get_categories as categories %}
        {% for category in categories %}
            {% if category.category_name %}
                <a href="{% url 'category' category.id %}">
                    <div class="categoryName">
                        {{ category.category_name }}
                    </div>
                </a>
            {% endif %}
        {% endfor %}

    </div>

    <div class="popular">
        <h5 class="popularTitle">Новинки на сайте</h5>
        {% get_games_new as games %}
        {% for game in games %}
            <div class="popularCard col-12">
                <a style="text-decoration: none" href="{% url 'game_detail' game.pk %}">
                    <img src="{{ game.main_image.url }}">
                    <span>{{ game.game_name }}<br>
                        {% if game.free_memory %}
                            {{ game.free_memory }}
                        {% endif %}</span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
