{% load slider_tags %}
<div class="container-fluid w100 p0">
    <div class="row w100 p0  m0">
        <div class="owl-carousel owl-theme col-md-12 col-lg-10 p0" id="slider">
        {% get_games  as games %}
            {% for game in games %}
                {% if game.main_image %}
                    <div class="slide">
                        <a style="text-decoration: none" href="{% url 'game_detail' game.pk %}"><img src="{{ game.main_image.url }}">
                            <div class="slide__title">{{ game.game_name }}</div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


