

<div class="container-fluid w100 p0">
    <div class="row w100 p0  m0">
        <div class="owl-carousel owl-theme col-md-12 col-lg-10 p0" id="slider">
            {% for games in games %}
                {% if games.main_image %}
                    <div class="slide">
                        <a href="#" class="slide__link"><img src="{{ games.main_image.url }}">
                        <div class="slide__title">{{ games.game_name }}</div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>