.w100 {
    width: 100%;
}

.p0 {
    padding: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.taC {
    text-align: center;
}

.owl-carousel {
    background: #ededed;
}

.owl-dots {
    margin: 0 !important;
}

.owl-stage-outer {
    padding: 25px 0 0 0;
    margin: 0 10px 0 10px;
}

body {
    background-color: #ededed;
    height: 100% !important;
    background-image: url("1.jpg");
    background-repeat: repeat-y;
    background-size: revert;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.3);

}

.main-content {
    background-color: white;
    margin: 20px auto 20px auto !important;
    padding: 0 !important;
    height: 100% !important;
    box-shadow: 0px 0px 9px 2px gainsboro;
}

.menu {
    text-align: center;
    display: block !important;
    width: 100%;
}

.menu span {
    margin: 37px 0 0 2px;
    font-family: 'Serif';
    font-style: italic;
    font-weight: 300 !important;
    font-size: large;
    opacity: 0.8;
    color: dodgerblue;
}

.menu img {
    object-fit: cover;
    max-width: 420px;
}

.gameCard img {
    object-fit: cover;
    max-width: 160px;
}

.find-block {
    display: -webkit-inline-box;
}

.find-block form {
    display: inherit;
}

.search {
    float: left;
    margin: 3px 0px 0px 6px;
    height: 37px;
    font-size: 18px;
    color: #514f4f;
    border: 0px;
    min-width: 340px;
    font-family: 'Serif';
    font-style: italic;
    font-weight: 400;
    padding: 0px 0px 0px 12px;
    background: #ededed;
    border-radius: 7px 0 0 7px;
}

.find {
    width: 140px;
    border: none;
    background-color: dodgerblue;
    color: white;
    height: 37px;
    font-family: 'Serif';
    border-radius: 0 7px 7px 0;
}

.register {
    border: none;
    background-color: white;
    color: lightseagreen;
}

.enter {
    border: none;
    background-color: white;
    color: dodgerblue;
}


.slide a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Serif';
    font-size: large;
}

.slide :hover {
    color: dodgerblue;
}

.owl-dots {
    padding: 0 0 1% 0;
}

.menuContent {
    display: inline-flex;
    margin: 20px 0 10px 0;
    text-align: center;
    padding: 0;
}

.menuContent span {
    list-style-type: none;
    background-color: dodgerblue;
    color: white;
    padding: 15px 27px 15px 27px;
    font-family: inherit !important;
}

.menuContent a {
    text-decoration: none;
}

.firstLi {
    border-radius: 7px 0 0 7px;
}

.lastLi {
    border-radius: 0 7px 7px 0;
}

.gameCard {
    display: inherit;
    padding: 15px;
}

.cardDiscription {
    padding: 0 0 0 20px;
    text-align: initial;
    position: relative;
    width: 100% !important;
}

.cardDiscription .gameName {
    font-family: 'Serif';
    font-size: large;
}

.cardDiscription .gameName {
    color: black;
}

.cardDiscription .gameName:hover {
    color: dodgerblue;
}

.categories {
    background-color: lightgray;
    margin: 10px 20px 10px 10px;
    border-radius: 7px;
}

.popular {
    background-color: lightgray;
    margin: 10px 20px 10px 10px;
    border-radius: 7px;
}

.categoriesTitle {
    background-color: dodgerblue;
    color: white;
    padding: 15px 27px 15px 27px;
    border-radius: 7px;
    font-family: 'Serif';
    margin-bottom: 0;
}

.popularTitle {
    background-color: dodgerblue;
    color: white;
    padding: 15px 27px 15px 27px;
    border-radius: 7px;
    font-family: 'Serif';
    margin-bottom: 0;
}

.categoryName {
    padding: 7px;
}

.categories a {
    text-decoration: none;
    color: #262626;
    font-size: medium;
    font-weight: 400;
    height: 100%;
    width: 100%;
    display: contents;
}


.categoryName:hover, .categoryName:focus {
    color: black;
    background-color: lightskyblue;
    border-radius: 7px;
}

.popular img {
    object-fit: cover;
    height: 10vh;
    border: 1px solid #d3d3d3;
    float: left;
}

.popular a {
    text-decoration: none;
    color: black;
}

.popular a:hover {
    color: dodgerblue;
}

.popularCard {
    display: flex;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
}

.popularCard span {
    float: left;
    text-align: left;
    margin: 0 0 0 10px;
    overflow-wrap: normal;
    font-size: 15px;
    font-family: 'Serif';
    font-weight: 500;
}

.footer {
    background: #ededed;
}

.copyrights {
    opacity: 0.3;
    margin-bottom: 0 !important;
}

.registerForm {
    text-align: center;
}

.registerForm input {
    margin: 15px auto 15px auto;
    border-radius: 7px;
    max-width: 40%;
    text-align: center;
}

.registerAccept {
    margin: 10px 0 10px 0;
}

.conf span {
    color: blue;
}

.registerForm li {
    list-style-type: none;
}

.registerForm h4 {
    margin: 10px 0 10px 0;
}

.alert-success {
    text-align: center;
}

.user-enter {
    margin-bottom: 50px;
}

.user-enter a {
    text-decoration: none;
}

.userName {
    padding: 0 20px;
    color: dodgerblue;
    font-weight: 500;
    /* margin: 0 20px 0 0; */
    border: 1px solid dodgerblue;
    border-radius: 8px;
}

.userName:hover {
    background: lightblue;
}


.priceBlock {
    bottom: 0;
    position: absolute;
    display: inline-block;
}

.enter-buttons {
    display: inline-flex;
    float: right;
}

.discount {
    display: inline-block;
    line-height: 1.7em;
    min-width: 2.5em;
    text-align: center;
    font-size: 17pt;
    background-color: #349700;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: -12px;
    margin-right: 4px;
    padding-bottom: 3px;
}

.prices {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1em;
    text-align: right;
    padding: 0 8px 3px 12px;
    background-color: #333;
    font-size: 11pt;
}

.old-price {
    color: #bbb;
    text-decoration: line-through;
    font-size: 8pt;
}

.price-card {
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1em;
    text-align: right;
    padding: 0 8px 0 12px;
    background-color: #333;
    border-radius: 5px 5px 4px 5px;
    font-size: 12pt;
}

.GameDetail img {
    float: left;
    margin: 10px 10px 10px 20px;
}

.GameDetail h4 {
    text-align: left;
    margin: 10px 10px 10px 20px;
}

.GameDetail .sys {
    float: left;
    text-align: left;
    margin: 10px 10px 0 10px;
    font-size: 17px;
}

.GameDetail .discr {
    display: inline-block;
    text-align: justify;
    margin: 10px 10px 20px 20px;
}

.gallery img {
    object-fit: cover;
}

.circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 15vh;
    height: 15vh;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewName {
    FONT-FAMILY: cursive;
}

.reviewText {
    text-align: left;
    font-weight: 500;
}

.reviewImg {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 7vh;
    height: 7vh;

}

.reviewImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card {
    display: inline-block;
}

.Reviews {
    margin: 30px;
}

.reviewBlock {
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-bottom: 20px;
}

.writeReview {
    margin: 0 0 30px 0;
}

.acceptReview {
    min-width: 15%;

}

.Card img {
    object-fit: cover;
    height: 180px !important;
    text-align: inherit;
    padding: 10px 5px 10px 0;
}

.cardGames h5 {
    display: inherit;
    margin: 40px 0 0 40px;
    float: right;
}

.cardGames {
    border-bottom: 2px solid lightgrey;
}

.list-pages li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    font-size: 18px;
}

.list-pages a {
    text-decoration: none;
}

#lightgallery .row {
    display: inherit;
}

#lightgallery img:hover {
    box-shadow: 1px -1px 15px 1px dodgerblue;
}

.gameCard img:hover {
    box-shadow: 1px -1px 15px 1px dodgerblue;
}

.popularCard img:hover {
    box-shadow: 1px -1px 15px 1px dodgerblue;
}

iframe:hover {
    box-shadow: 1px -1px 15px 1px dodgerblue;
}

.writeReview textarea {
    max-height: 25vh;
}

.child {
    width: 90%;
    float: right;
}

.list-group-item {
    background-color: #ededed !important;
}

.list-group-item input {
    text-align: center;
    background-color: #ededed !important;
}

.DeleteGame {
    border: none;
    color: #008CBA;
    background-color: #ededed;
}

.modal-body label {
    padding: 5px 0 5px 0;
    font-weight: 500;
}

.table thead {
    background: lightblue;
}

.table tbody tr {
    background: aliceblue;
}

.but {
    float: right;
    text-align: right;
    padding: 0 50px 0 0;
    text-decoration: none;
}

.dopFiltr {
    display: none;
}

.menu {
    margin: 15px;
}

@media screen and (max-width: 820px) {

    .Card h4 {
        font-size: 16px;
    }

    .menu img {
        object-fit: cover;
        max-width: 350px !important;
        padding: 20px 0 0 0;
    }

    iframe {
        width: 420px !important;
    }

    .search {
        min-width: 150px !important;
    }

    .find {
        width: 90px !important;
    }

    .find-block span {
        display: none !important;
    }

    .menuContent {
        display: none;
    }

    .dopFiltr {
        display: unset;
    }

    .list-group span {
        height: 40px;
    }

    .underCard .pa {
        padding: 10px 0 0 10px;
    }

    .DeleteGame {
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 576px) {

    .find-block form {
        padding: 20px 0 0 50px !important;
    }


    .find-block span {
        display: none !important;
    }

    .menu img {
        object-fit: cover;
        max-width: 350px;
    }

    .search {
        min-width: 120px !important;
    }

    .find {
        min-width: 70px !important;
    }

    .sp {
        display: none;
    }

    .find-block {
        padding: 0 !important;
        margin: 0 0 25px 50px;
    }


    .slide__title {
        font-size: 15px;
    }

    .menuContent {
        display: none;
    }

    .main-content {
        margin: 0 !important;
    }

    .gameCard {
        padding: 20px;
        font-size: 14px !important;
    }

    .gameCard img {
        object-fit: cover;
        max-width: 140px !important;
    }

    .cardDiscription {
        padding: 5px !important;
    }

    .content .row {
        padding: 0 !important;
    }

    .wi100 {
        width: 100% !important;
        margin: 0 !important;
    }

    .popular {
        margin: 10px !important;
        text-align: center;
    }

    .categories {
        margin: 10px !important;
    }

    .enter-buttons a {
        padding: 10px 0 10px 10px;
    }

    iframe {
        width: 320px;
    }

    #lightgallery img {
        object-fit: cover;
        max-width: 320px !important;
        margin: 10px auto;
    }

    #lightgallery a {
        text-align: center;
    }

    .GameDetail {
        padding: 0 !important;
    }

    .GameDetail .discr {
        margin: 0;
        padding: 10px 15px 10px 15px;
    }

    .enter-buttons {
        padding-bottom: 10px;
    }

    .dopFiltr {
        display: unset;
    }

    .underCard {
        padding: 10px;
    }

    .alert {
        margin-top: 70px;
    }
}